<nav>
    <input type="checkbox" id="nav-toggle">
    <div class="logo"><img src="../../static/images/Quadgen_Logo.png" alt="Quadgen_Logo" srcset="" ></div>
   <ul class="links">
    <li><a href="/Admin">&nbsp; Home &nbsp;<span><i class="bi bi-house-fill"></i></span></a></li>
       <li><a href="/Admin/addUser">&nbsp; Add User &nbsp;<span><i class="bi bi-file-earmark-plus"></i></span></a></li>
       <!-- <li><a href="/Admin/viewAssessment">&nbsp; View Assessment &nbsp;<span><i class="bi bi-pass"></i></span></a></li> -->
       <li><a href="/Admin/viewUsers">&nbsp; View Users &nbsp;<span><i class="bi bi-people"></i></span></a></li>
       <li><a href="/logout">&nbsp;Log out &nbsp;<span><i class="bi bi-arrow-right-circle"></i></span></a></li>
       <li><a href="/help">&nbsp; Help &nbsp;<span><i class="bi bi-question-circle-fill"></i></span></a></li>
   </ul>
   <label for="nav-toggle" class="icon-burger">
       <div class="line"></div>
       <div class="line"></div>
       <div class="line"></div>
   </label>
</nav>
<label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>