<nav>
    <input type="checkbox" id="nav-toggle">
    <div class="logo"><img src="../../static/images/Quadgen_Logo.png" alt="Quadgen_Logo" srcset="" ></div>
   <ul class="links">
       <li><a href="/"><span><i class="bi bi-house-fill"></i></span>&nbsp; Home</a></li>
       <li><a href="/login"><span><i class="bi bi-box-arrow-in-right"></i></span>&nbsp; Login</a></li>
       <!--<li><a href="/CreateAssessment">Create Assessment</a></li>
       <li><a href="/viewAssessment">View Assessment</a></li>-->
       <li><a href="/help"><span><i class="bi bi-question-circle-fill"></i></span>&nbsp; Help</a></li>
   </ul>
   <label for="nav-toggle" class="icon-burger">
       <div class="line"></div>
       <div class="line"></div>
       <div class="line"></div>
   </label>
</nav>
<label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>