<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%- include('partials/dependencies') %>
  <meta name="theme-color" content="#319197">
  <meta name="color-scheme" content="dark">
  <link rel="stylesheet" href="../static/css/loginpage.css">

</head>
<%- include('partials/header') %>
<body>
    <div class="emoji-smile">
        <div class="face">
          <div class="eyebrow-left"></div>
          <div class="eyebrow-right"></div>
          <div class="eye-left"></div>
          <div class="eye-right"></div>
          <div class="mouth-happy"></div>
        </div>
      </div>
      
      <div class="emoji-sad">
        <div class="face">
          <div class="eyebrow-left"></div>
          <div class="eyebrow-right"></div>
          <div class="eye-left"></div>
          <div class="eye-right"></div>
          <div class="mouth-sad"></div>
        </div>
      </div>
</body>
<%- include('partials/dependencies-js') %>
</html>